  style.css

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-black: #293449;
  --basic-white: #FFFFFF;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-blacklight: #32425C;
  --special-greenlight: #8ED78F;
  --special-ylellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --Error: #BA2732;
  --Светлосерый: #EAEAEA;
}  style.css

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-black: #293449;
  --basic-white: #FFFFFF;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-blacklight: #32425C;
  --special-greenlight: #8ED78F;
  --special-ylellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --Error: #BA2732;
  --Светлосерый: #EAEAEA;
}


body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #293449; 
  background-color: #FFFFFF;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.beginning {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
   margin: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
   background-color: #F1F5F7; 
}

/* User navigation */

.user-menu {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  line-height: 24px;
  background-color: #32425C;
  color: #FFFFFF;
  width: 1200px;
  min-height: 42px;
}


.logo-area {
  width: 220px;
  height: 47px;
  background-color: #EE3643;
  margin-left: 130px;
  text-align: center;
  line-height: 50px;
}


.purpose-form input {
  background-color: transparent;
  line-height: 40px;
  box-sizing: border-box;
}


.purpose-form input:hover, 
.purpose-form input:focus,
.purpose-form input:active {
  background-color: #FFFFFF;
  color: black; 
}

.purpose-search {
  color: #FFFFFF;
}


.user-menu-wrapper {
  display: flex;
  align-items: center;
  margin-right: 130px;
   color: #FFFFFF;
   min-height: 42px;
  text-align: center;
  list-style: none;

}

.user-menu-wrapper a {
  padding: 10px;
  color: #FFFFFF;

}


.user-menu-wrapper a:hover,
.user-menu-wrapper a:focus {
  padding: 10px;
  background-color: #EE3643;
}


.user-menu-wrapper a:last-child:hover,
.user-menu-wrapper a:last-child:focus,
.user-menu-wrapper a:last-child:active {
  background-color: #5FBB2D;
}

.user-menu-wrapper a:last-child {
  padding: 10px;
  background-color: #63A63E;
}


.the-door {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin-top: 37px; 
  margin-bottom: 44px;
  margin-right: 130px;
}


.the-door .red-text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: red;
}


.the-door .red-telephone a {
  font-weight: bold;
  font-size: 21px;
  line-height: 36px;
  font-style: normal;
   background-color: transparent; 
  color: red;
  border: 3px solid #FFFFFF;
  }


  .red-telephone p{
    font-size: 14px;
    line-height: 24px;
  }


.the-door a {
  align-items: center;
  font-weight: bold;
  background-color: #FFFFFF;
  color: #000000;
  padding:  10px 30px;
  font-size: 21px;
  line-height: 21px;
}


.the-door a:first-child {
  width: 121px;
  height: 45px;
}

.the-door a:last-child {
  width: 150px;
  height: 45px;
}

.the-door a:hover,
.the-door a:focus {
  color: red;
}

/* Main navigation */

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 18px;;
  align-items: center;
  line-height: 1,33;
  width: 940px;
  min-height: 60px;
  background-color: #32425C;
  color: #FFFFFF;
  margin: auto;
}


.main-navigation-wrapper li {
  display: inline;
   padding: 15px;
}

.site-navigation {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color:  #293449;
}

.site-navigation a {
  padding: 10px;
  display: inline;
  color: #FFFFFF;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #000000;
}

/* Features */
.features {
  width: 940px;
  height: 409px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
   gap: 20px;

  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px; 

}



.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
  margin: auto;


  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px; 

   grid-row-start: 1;
   grid-row-end: 3;
   grid-column-start: 1;
   grid-column-end: 4;

}


.feature-item {
  width: 300px;
  height: 123px; 
}

.feature-item h3 {
  font-size: 24px;
  line-height: 1,25;
  color: #FFFFFF;
}

.feature-item a {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  color: #FFFFFF;
}

.features-list a:hover,
.features-list a:focus,
.features-list a:active {
  background-color: #A9A9A9;
  border-color: #C5C5C5;
  color: #FFFFFF;
}

.feature-item:first-child {
  background-color: #FFBF47;
}

.feature-item:nth-child(2) {
  background-color: #3BBCE3;
}

.feature-item:nth-child(3) {
  background-color: #DC91D8;
}

.feature-item:nth-child(4) {
  background-color: #8ED78F;
  grid-column: 3;
  grid-row: 2;
}

.feature-item:last-child {
  background-color: #FFC047; 
  grid-column: 3;
  grid-row: 3;
}
/* photo */


.photo-container{
  margin: auto;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;

  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.photo-card {
  background-color: var(--basic-dark);
  border: 7px solid var(--basic-white);
  argin-left: 130px;
}

.photo-container h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: red;
  margin-bottom: ;
}

.photo-container p {
  font-size: 18px;
  line-height: 1,33;
  color: red;
}
/* Button */

.button {
  font: inherit;
  text-align: center;
  color: #FFFFFF;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #EE3643;
  border: none;
  font-size: 14px;
  line-height: 18px;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #BA2732;
  border-color: #3BBCE3;
}
/* Popular */

.popular {
   margin: auto;
  rid-template-columns: 1fr 1fr 1fr 1fr;
  
  width: 940px;
  min-height: 419px;
  margin-bottom: 70px;
  argin-left: 130px;
}

.popular h2 {
  width: 940px;
  height: 89px;
  background-color: #F9F5F0;
}
/* Popular-card*/

.inline {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 20px;
}


.inline li {
  display: inline-block;
  border: 1px solid;
}

.card {
  text-align: center;
  list-style: none;
  font-family: 'PT Sans', sans-serif; 
  width: 220px;
  height: 318px;  
}

.card h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: black;
}

.card p{
  text-align: center;
  font-style: 17px;
  line-height: 18px;
  text-transform: 
}

.card p:last-child {
  background-color: #EE3643;
  color: #FFFFFF;
  height: 38px;
  width: 141px;
}

.inline .card:hover,
.inline .card:focus,
.inline .card:active {
  box-shadow: 0px 4px 20px
  rgba(0, 0, 0, 0.15); 
 } 

/* Popular-cell*/


.inline .cell {
  box-sizing: border-box;
  display: inline;
}

.cell {
  line-height: 160px;
  text-align: center;
  width: 220px;
  height: 142.21px;
  list-style: none;
}



.inline .cell:hover,
.inline .cell:focus,
.inline .cell:active {
  box-shadow: 0px 4px 20px
  rgba(0, 0, 0, 0.15); 
 } 

/* service */

.service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F1F5F7;
  height: auto;
 
}

.service p {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 1,84;
 }

 .lux {
  margin-top: 64px;
  margin-left: 130px;
 }

.service-list {
  list-style: none;
  margin-top: 70px; 
  margin-bottom: 99px;  
}

.one-service:first-child {
  width: 240px;
  height: 61px;
  background-color: #FFFFFF;
  font-size: 21px;
  line-height: 30px;
}

.one-service:nth-child(2) {
  width: 240px;
  height: 61px;
  background-color: #32425C;
  font-size: 21px;
  line-height: 30px;
  color: #FFFFFF;
}

.one-service:last-child {
  width: 240px;
  height: 61px;
  background-color: #32425C;
  font-size: 21px;
  line-height: 1,42;
  color: #FFFFFF;
}

.extra {

  margin-right: auto;
  margin-top: 235px;
}


/* about-us */

.about-us {
  display: flex;
  flex-direction: row;
  display: inline-block;
  padding-bottom: 70px;
  padding-left: 130px;
  margin-top: 70px;
   align-items: baseline;
  flex-direction: column;
  width: 480px;
}

.about-us:last-child {
  margin-left: 50px;
}

.about-us:nth-of-type(1) {
  flex-basis: 130px;
   align-items: baseline;
}


.about-us p {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;

}


.our-partner {
  font-size: 18px;
  line-height: 1,33;
   list-style: none;
}

/* choose */

 .choose h2 {
  width: 940px;
  min-height: 89px;
  background-color: #F2F6F8;
}


.set span,
.set a {
   font-size: 13px;
  line-height: 1,84;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  color: #000000;
}


.choose a,
.choose h3 {
  padding: 10px;
  font-size: 13px;
  line-height: 1,84;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  background-color: #F7F3EC;
}


.choose h3 {
  background-color: #F7F3EC;
  width: 220px;
  height: 38px;
}
.choose a:nth-of-type(4), 
.choose a:nth-of-type(1) {
  color: red;
}


/* Catalog-filterr */

.filterr {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  width: 220px;
  min-height: 720px;
  font-size: 13px;
  line-height: 1,33;
} 


.filterr h2 {
  font-family: 'PT Sans', sans-serif;
  height: 40px;
  background-color: #F7F3EC; 
  border-radius: 5px; 
  font-size: 13px;
  line-height: 1,33;
}

.filterr fieldset:first-child {
  background-color: #F7F3EC;
  border-radius: 5px; 
}

fieldset h3 {
  background-color: #FFFFFF;
  height: 40px;

}

.filterr .button {
  background-color: #FFFFFF;
  color: #000000;
} 


.interest {
  width: 1200px;
  min-height: 261px;
  background-color: #F2F6F8;
}

/* Catalog-Pagination */

.pagination {
  text-align: center;
}

.pagination a {
  padding: 10px 16px;
  border: 1px solid #EE3643;
  color: black;
}


/* Main-Footer */

.main-footer {
  font-size: 18px;
  line-height: 1,33;
}

.footer-user-menu {
  background-color: #32425C;
  color: #FFFFFF;
  width: 1200px;
}



.footer-site-navigation a {
  color: #FFFFFF;
  list-style: none;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: inline;

}
 


.tunnel li {
 width: 141px;
 margin: 0 auto;
 padding: 0;
  list-style: none;
     
}

.footer-site-navigation:last-child a {
  color: #FFD180;

}



.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  background-color: #000000;
}

.telephone {
  margin-left: 130px;
}


.telephone a {
  color: #FFFFFF;
}

/* social-Footer */


.cellar-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #293449;
  color: #FFFFFF;

  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px; 
}

.cellar-footer p {
padding: 36px;
}


.cellar-footer li {
  text-align: center;
  list-style: none;
}

/* Social button */

.footer-social{


  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}



.social-button {
  color: inherit;

  list-style: none;
}

.social-button:hover,
.social-button:focus {
  background-color: white;
}


.footer-copyright p,
.footer-copyright a {
  color: #FFD180;
  background-color: #32425C; 

outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;

}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: black;
  background-color: white;
}













