  style.css

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-black: #293449;
  --basic-white: #FFFFFF;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-blacklight: #32425C;
  --special-greenlight: #8ED78F;
  --special-ylellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --Error: #BA2732;
  --Светлосерый: #EAEAEA;
}  style.css

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-black: #293449;
  --basic-white: #FFFFFF;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-blacklight: #32425C;
  --special-greenlight: #8ED78F;
  --special-ylellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --Error: #BA2732;
  --Светлосерый: #EAEAEA;
}


body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #293449; 
  background-color: #FFFFFF;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.subject {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
   margin: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
   background-color: #F1F5F7; 
}

/* User navigation */

.main-header-page {
   background-color: #32425C;
  color: #FFFFFF;
}



.user-menu {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  line-height: 24px;
  background-color: #32425C;
  color: #FFFFFF;
  min-height: 42px;
}


.logo-area {
  width: 220px;
  height: 49px;
  background-color: #EE3643;
  text-align: center;
  line-height: 50px;

}


 .container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}


.purpose-form input {
  background-color: transparent;
  line-height: 40px;
  box-sizing: border-box;
}


.purpose-form input:hover, 
.purpose-form input:focus,
.purpose-form input:active {
  background-color: #FFFFFF;
  color: black; 
}

.purpose-search {
  color: #FFFFFF;
}


.user-menu-wrapper {
  display: flex;
  align-items: center;
   color: #FFFFFF;
   min-height: 42px;
  text-align: center;
  list-style: none;

}

.user-menu-wrapper a {
  padding: 10px;
  color: #FFFFFF;

}


.user-menu-wrapper a:hover,
.user-menu-wrapper a:focus {
  padding: 10px;
  background-color: #EE3643;
}


.user-menu-wrapper a:last-child:hover,
.user-menu-wrapper a:last-child:focus,
.user-menu-wrapper a:last-child:active {
  background-color: #5FBB2D;
}

.user-menu-wrapper a:last-child {
  padding: 10px;
  background-color: #63A63E;
}


.the-door {
  display: flex;
  justify-content: space-around;
  width: 940px;
  margin-top: 37px; 
  margin-bottom: 44px;
  
}


.the-door .red-text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: red;
}


.the-door .red-telephone a {
  font-weight: bold;
  font-size: 21px;
  line-height: 36px;
  font-style: normal;
   background-color: transparent; 
  color: red;
  border: 3px solid #FFFFFF;
  }


  .red-telephone p{
    font-size: 14px;
    line-height: 24px;
  }


.the-door a {
  align-items: center;
  font-weight: bold;
  background-color: #FFFFFF;
  color: #000000;
  padding:  10px 30px;
  font-size: 21px;
  line-height: 21px;
}


.the-door a:first-child {
  width: 121px;
  height: 45px;
}

.the-door a:last-child {
  width: 150px;
  height: 45px;
}

.the-door a:hover,
.the-door a:focus {
  color: red;
}

/* Main navigation */

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 18px;;
  align-items: center;
  line-height: 1,33;
  width: 940px;
  min-height: 60px;
  background-color: #32425C;
  color: #FFFFFF;
  margin: auto;
  margin-bottom: 60px;
}


.main-navigation-wrapper li {
  display: inline;
   padding: 15px;
}

.site-navigation {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color:  #293449;
}

.site-navigation a {
  padding: 10px;
  display: inline;
  color: #FFFFFF;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #000000;
}


/* Features */

.features {
  margin: auto;
  width: 940px;
  height: 409px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;

  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px; 

}


.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
  margin: auto;


  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px; 

   grid-row-start: 1;
   grid-row-end: 3;
   grid-column-start: 1;
   grid-column-end: 4;

}


.feature-item {
  width: 300px;
  height: 123px; 
}

.feature-item h3 {
  font-size: 24px;
  line-height: 1,25;
  color: #FFFFFF;
}

.feature-item a {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  color: #FFFFFF;
}

.features-list a:hover,
.features-list a:focus,
.features-list a:active {
  background-color: #A9A9A9;
  border-color: #C5C5C5;
  color: #FFFFFF;
}

.feature-item:first-child {
  background-color: #FFBF47;
}

.feature-item:nth-child(2) {
  background-color: #3BBCE3;
}

.feature-item:nth-child(3) {
  background-color: #DC91D8;
}

.feature-item:nth-child(4) {
  background-color: #8ED78F;
  grid-column: 3;
  grid-row: 2;
}

.feature-item:last-child {
  background-color: #FFC047; 
  grid-column: 3;
  grid-row: 3;
}
/* photo */


.photo-container{
  margin: auto;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.photo-card {
  background-color: var(--basic-dark);
  border: 7px solid var(--basic-white);
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

.photo-container h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: red;
  
}

.photo-container p {
  font-size: 18px;
  line-height: 1,33;
  color: red;
}
/* Button */

.button {
  font: inherit;
  text-align: center;
  color: #FFFFFF;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #EE3643;
  border: none;
  font-size: 14px;
  line-height: 18px;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #BA2732;
  border-color: #3BBCE3;
}
/* Popular */

.popular-section {
   margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  width: 940px;
  min-height: 419px;
  margin-bottom: 70px;
  argin-left: 0;
  argin-left: 130px;
  
 
}

.popular-section h2 {
  text-align: ;
  width: 940px;
  height: 89px;
  background-color: #F9F5F0;
}
/* Popular-list-product*/

.popular-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
   margin-left: 0;
   padding-left: 0;
}
  
 


.popular-list li {
  display: inline-block;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}


.product {
  text-align: center;
  list-style: none;
  font-family: 'PT Sans', sans-serif; 
  width: 220px;
  height: 318px;  
}

.product img {
  order: -1;
  padding-bottom: 0;
  margin: auto;
}


.product h3 {

  text-align: center;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: black;
}

.product p{
  vertical-align: center;
 text-align: center;
  font-size: 17px;
  line-height: 18px;
  margin-top: 0;
  -bottom: 0;
}

.product p:last-child {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 45px;
  margin-bottom: 21px;
  background-color: #EE3643;
  color: #FFFFFF;
  width: 141px;

}

.popular-list .product:hover,
.popular-list .product:focus,
.popular-list .product:active {
  box-shadow: 0px 4px 20px
  rgba(0, 0, 0, 0.15); 
 } 

/* Popular-the-company */


.popular-list .the-company {
  box-sizing: border-box;
  display: inline;
}

.the-company {
  line-height: 160px;
  text-align: center;
  width: 220px;
  height: 142.21px;
  list-style: none;

}



.popular-list .the-company:hover,
.popular-list .the-company:focus,
.popular-list .the-company:active {
  box-shadow: 0px 4px 20px
  rgba(0, 0, 0, 0.15); 
 } 

/* service */

.service {
  background-color: #F1F5F7;
}

.service-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
 
}

.service p {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 1,84;
 }

 .lux {
  margin-top: 64px;

 }


.one-service:first-child {
  width: 240px;
  height: 61px;
  background-color: #FFFFFF;
  font-size: 21px;
  line-height: 30px;
}

.one-service:nth-child(2) {
  width: 240px;
  height: 61px;
  background-color: #32425C;
  font-size: 21px;
  line-height: 30px;
  color: #FFFFFF;
}

.one-service:last-child {
  width: 240px;
  height: 61px;
  background-color: #32425C;
  font-size: 21px;
  line-height: 1,42;
  color: #FFFFFF;
}

.service-list{
  list-style: none;
  margin-top: 70px;
  padding-left: 0;
  padding-bottom: 99px;
}

.extra {

  margin-right: auto;
  margin-top: 235px;
}


/* about-us */

.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 70px;
  margin-top: 70px;
}


.about-us-box {
  margin-left: auto;
   flex-basis: 130px;
}

.about-us-holder {
  flex-basis: 130px;

}


.about-us p {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;

}


.our-partner {
  font-size: 18px;
  line-height: 1,33;
   list-style: none;
}


/* Catalog-Container */


.catalog-container{
  display: grid;
  grid-template-columns: 25% 75%;
  margin-top: 20px;
  width: 941px;

  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
  p

}

/* choose */

.set {
  display: flex;
  flex-direction: column-reverse;
}


 .set h2 {
  margin-top: 20px;
  padding-top: 29px;
  padding-left: 29px;
  width: 940px;
  min-height: 89px;
  background-color: #F2F6F8;

}


.set span,
.set a {
  font-size: 13px;
  line-height: 1,84;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  color: #000000;

  
}




.filterr {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  width: 220px;
  min-height: 720px;
  font-size: 13px;
  line-height: 1,33;

  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: -1;

} 


.filterr h2 {
  font-family: 'PT Sans', sans-serif;
  height: 40px;
  background-color: #F7F3EC; 
  border-radius: 5px; 
  font-size: 13px;
  line-height: 1,33;

  grid-column-start: -1;
  grid-column-end:1;
  grid-row-start: 2;
}


.filterr .fieldset:first-child {
  background-color: #F7F3EC;
  border-radius: 5px; 
}


.fieldset h3 {
  background-color: #FFFFFF;
  height: 40px;

}


.filterr .button {
  background-color: #FFFFFF;
  color: #000000;
} 


.catalog-section{
  margin-right: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

/* .Choose */

.choose {
  align-self: center;
  justify-content: space-between;
  background-color: #F7F3EC;
  height: 40px;

}
 
.choose a,
.choose h3 {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  display: inline;
  
}


 /* Catalog-Popular-block */

.popular-wrap  {
  idth: 660px;
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 4;
 }



 .popular-block {
  width: 660px;
  display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
   margin-left: 0;
   padding-left: 0;
}
   
.popular-block  li{
  display: inline-block;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.popular-block .product:hover,
.popular-block .product:focus,
.popular-block .product:active {
  box-shadow: 0px 4px 20px
  rgba(0, 0, 0, 0.15); 
} 


/* Catalog-Pagination */

.pagination {
  text-align: center;
  align-self: flex-start;
}

.pagination a {
  padding: 10px 16px;
  border: 1px solid #EE3643;
  color: black;

  


}

.interest {
  width: 908px;
  background-color: #F1F5F7;
  margin-top: 62px;
}

.interest h2 {
  padding-top: 64px;

}
.interest p{
  padding-bottom: 64px;
} 
}


/* Main-Footer */

.main-footer {
  font-size: 18px;
  line-height: 24px;

}


.footer-menu-section {
  background-color: #32425C;
  color: #FFFFFF;
}


.footer-user-menu {

  color: #FFFFFF;
   display: flex;
   justify-content: space-between;
   
  

 outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;

}

.footer-user-wrapper {

 
 outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;

}
.footer-user-wrapper p {  
    font-size: 18px;
  line-height: 10px;
}



.tunnel {
  
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px; 
}


.footer-site-navigation {
   font-size: 18px;
   line-height: 24px;
}


.footer-site-navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 560px;
  
}


.tunnel a {
  color: #FFFFFF;
  padding: 10px;

 } 
 

.footer-site-navigation li {
   list-style: none; 
   margin-top: 20px; 
}


.footer-site-navigation:last-child a {
  color: #FFD180;
}


.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  background-color: #000000;
}

.telephone {

  padding-top: 22px;
  padding-bottom: 54px;

  outline: groove;
  outline-offset: -5px;
  
}

.telephone p {
   color: #FFFFFF;
  
}


.telephone a {
  color: #FFFFFF;

  
}

/* social-Footer */


.footer-cellar-wrap {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
  color: #FFFFFF;
}


.cellar-footer {
  display: flex;
  justify-content: space-between;

  background-color: #293449;
  color: #FFFFFF;


}

.cellar-footer p {
  padding: 0;
  

}


.cellar-footer li {
  text-align: center;
  list-style: none;
  margin: auto; 

}

/* Social button */

.footer-social{
  idth: 350px;
  display: flex;
  lex-direction: column;
  isplay: flex;
}



.social-button {
  color: inherit;
  list-style: none;

  isplay: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
}

.social-button:hover,
.social-button:focus {
  background-color: white;
}

social-button:hover path,
social-button:focus path {
  fill: var(--basic-black);
}


.footer-copyright p {
  color: #FFD180;
  background-color: #32425C;
}



.footer-copyright a {
  color: #FFD180;
  background-color: #32425C; 
}
   

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: black;
  background-color: white;
}













